[2019-09-30 16:06] NJnisarg opened #1 "Introduce yourself"
### Description
Introducing yourself on the repo. Create a file as `yourname.txt` with details about yourself and submit it for a PR. This is supposed to be a good first issue.

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: No bound

### Issue requirements / progress
- [ ] Create the file at the right location.

### Directory Structure
Check the `example.txt` file u

[2019-09-30 17:15] rohit-mp opened #3 "Barebones TCP echo server"
### Description
Implement a [bare bones](https://www.dictionary.com/browse/barebones) version of a TCP echo server in C. You can have a look at the provided resources for a detailed implementation and explanation of the same.
### Details
- Technical Specifications: Implementation is expected in C language
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Bare bon

[2019-10-01 03:19] SrivatsanV opened #7 "Target Sum from 2 BSTs"
### Description
Come up with an efficient algorithm for finding two numbers, a and b from 2 given binary search trees such that a+ b = S (Target Sum) and a & b are not from the same BST.

### Details
- Technical Specifications: Preferable languages are C/C++
- Type of issue: Single
- Time Limit: 1 day.

### Issue requirements / progress
- [ ] Efficient algorithm implementation.

### Resources
 - h

[2019-10-01 07:30] NJnisarg commented on #3
Can you please mention where can I place the files in the repo?

[2019-10-01 08:51] 17aakashsingh1999 opened #8 "Blog website complete with authentication"
### Description
Implement a website that allows you to post blogs with working authentication.

### Details
- Technical Specifications: Use any framework of your choice to implement the web app.
- Type of issue: Single
- Time Limit: 1 week

### Issue requirements / progress
- [x] Decide upon a framework- django, expressjs, flask, etc and bootstrap the project
- [x] Create the basic structure of th

[2019-10-01 09:06] 17aakashsingh1999 opened #9 "An interpreter for brainfuck written in C language"
### Description
Write an interpreter for Brainfuck in C language.

### Details
- Type of issue: Single
- Time Limit: 1 week

### Issue requirements / progress
- [ ] Solve the balanced parenthesis problem - given a sequence of parenthesis find if the sequence is valid or not
- [ ] Use the knowledge of the above problem to write an interpreter
- [ ] Add logic to check if the given Brainfuck code is

[2019-10-01 09:23] rohit-mp commented on #3
Create a folder named 'tcpEchoServer' under systems and name the file as 'bareboneTcpEchoServer.c' in the folder.

[2019-10-01 09:25] shrinidhi99 opened #10 "To provide a basic recycler view template for android developers on which they can modify as per their needs"
### Description
Recycler view is a very essential part of android projects. It is a dynamically expanding view that can give all sorts of information regarding a product, person or anything that the app wants to display. This view is used generally to display search results, display products that belong to say cotton category, scorecard of live matches, and lots of other stuff. Important thing to

[2019-10-01 09:40] arpi-r opened #11 "File Transfer using UDP"
### Description
Implement file transfer using UDP protocol and a client/server.

### Details
- Technical Specifications: Imlementation is expected in C language.
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Server code for file transfer
- [ ] Client code for file transfer
- [ ] Compiles and runs as expected
- [ ] A document explaining how to run the code.

[2019-10-01 09:48] namanmanish opened #12 "Optimised Number of pairs"
### Description
A sorted array will be given of n integers.A number will be given.You have to count the number of pairs in the array who sum up to the given number.

### Details
You don't have to read input or write output you just have to complete the given function.
This has to be solved in linear time( O(n) ).

[2019-10-01 10:31] mananpoddar opened #14 "Get the difference between two text paragraphs(Ever used `git diff` !)"
### Description
Implement a feature similar to `git diff`. Write a function which takes two text paragraphs as argument and prints a paragraph highlighting the difference between these two paragraphs.

### Details
- Technical Specifications: You can use external libraries like google diff match patch.
- Type of issue: Single
- Time Limit: 1 Week.

### Issue requirements / progress
- [ ] apply requ

[2019-10-01 10:32] Shashwatha-Mitra opened #15 "Calculating Cache Line Size from a program"
### Description
Write a C/C++ program to find the [Cache Line Size](https://encyclopedia2.thefreedictionary.com/cache+line) by using time measurements. The measurements are to be analyzed and plotted to identify the Line Size of the cache.

### Details
- Technical Specifications: Implementation is expected in C/C++
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [

[2019-10-01 10:40] gnarayang opened #16 "Converting small letters to capital letters"
### Description
The objective of the program is to convert all the small letters in the sentence to capitals and ignore all other kinds of characters

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: One day

### Issue requirements / progress
- [ ] Special characters are to be ignored.
- [ ] Letters which are already in Capital are to be ignored

### Resources
https://

[2019-10-01 10:42] ArqumShaikh opened #17 "DFS Traversal"
### Description
Write an efficient code to print the Depth First Search (DFS) traversal of a graph in C++.

### Details
- Type of issue: Single
- Time Limit: 2 Days
### Issue requirements / progress
- [ ] Read about Depth first search traversal for a graph.
- [ ] Implement DFS using adjacency matrix.
- [ ] Change above code to work with adjacency list.

### Resources
[DFS Tutorial](https://www.hac

[2019-10-01 10:44] mananpoddar opened #18 "Implement QuickSort, MergeSort and RadixSort in C"
### Description
Implement sorting in c.

### Details
- Type of issue: Single
- Time Limit: 1 week.

### Issue requirements / progress
- [ ] comment your code properly.
- [ ] make as many functions as you can.

### Resources
[geeks-sorting](https://www.geeksforgeeks.org/sorting-algorithms/)

### Directory Structure
Create a new folder called "sort" inside the development folder and add all the code

[2019-10-01 10:48] shrinidhi99 commented on #18
I want to take up this issue and resolve it.

[2019-10-01 10:49] mananpoddar opened #19 "Build a 2-input 2-output Deep Learning model."
### Description
Complete a Jupyter notebook which uses Keras Functional API and implement the model (Use your favourite dataset)

### Details
- Type of issue: Single
- Time Limit: 1 week.

### Issue requirements / progress
- [ ] mention the link to the dataset that you have used.

### Directory Structure
Create a new folder called "SimpleNeuralNet" inside the development folder and add all the cod

[2019-10-01 10:49] shrinidhi99 commented on #16
I am ready to resolve this issue.

[2019-10-01 10:53] ArqumShaikh opened #20 "BFS Traversal"
### Description
Write an efficient code to print the Breadth First Search traversal of a graph in C++.

### Details
- Type of issue: Single
- Time Limit: 2 Days
### Issue requirements / progress
- [ ] Implement algorithm to print the bfs traversal of graph

### Resources
[BFS Tutorial](https://www.hackerearth.com/practice/algorithms/graphs/breadth-first-search/tutorial/)

### Directory Structure
C

[2019-10-01 10:53] mananpoddar opened #21 "Data visualization using Searborn/Bokeh Library"
### Description
visualization of data before applying machine learning models is a very important step in getting amazing results! Please use seaborn/bokeh libraries to visualize the data.
Take your favourite dataset and visualize the data in a python notebook.
### Details
- Type of issue: Single
- Time Limit: 1 week.

### Issue requirements / progress
- [ ] Atleast 5 charts

### Directory Structu

[2019-10-01 11:00] suhasks123 opened #22 "String Tokenization in C"
### Description
Write a C program to tokenize an input string based on given delimiters. For example, if the input string is "I love Open Source" and the delimiter is " ", your code should create a string array of the form {"I","love","Open","Source"}. The string and the delimiter are the inputs.

### Details
- Technical Specifications: The language to be used is C
- Type of issue: Single
- Time L

[2019-10-01 11:08] krithikvaidya opened #23 "SQL Operations using MySQL or SQLite3"
### Description
Using MySQL or SQLite3, create a database named 'smartphones'.
Within this database, create a single table 'smartphone_details'. In this table, create the
following fields with the appropriate types and constraints:

- smartphone_id: the primary key
- model_name: the name of the smartphone's model. max length of 50 characters
- company_name: the company that created the smartphone.

[2019-10-01 11:14] shrinidhi99 commented on #10
Merged and resolved

[2019-10-01 11:14] #10 closed

[2019-10-01 11:25] adityachirania opened #24 "Improvising C program of swapping with maximum element in array"
### Description
This folder contains a C program. The C program has a maximum() function and swap() function. Please fix the bugs in the function and add the following features:
-[ ]Run the Program as many times as the user wants.
-[ ]We want to work with larger input elements in array
-[ ]Our swap function uses a temp variable please try swapping without the temp variable

### Details
- Technical

[2019-10-01 11:27] suhasks123 opened #25 "Fix the bugs in the given implementation of Socket based Inter Process Communication"
### Description
Given is a program which implements Inter Process Communication using Sockets. Find the bugs in the program. The expected output is:
`-->What is Hacktoberfest?`
`-->It is a celebration of Open Source:)`

### Details
- Technical Specifications: The program is written in C
- Type of issue: Single
- Time Limit: 1 day
- Code:
[IPC-using-Sockets.zip](https://github.com/WebClub-NITK/Hack

[2019-10-01 11:48] vrn25 opened #27 "Abalone Age Prediction using various ML classifiers"
### Description
Given **Multi-class Classification** problem, predict the age of Abalone (a type of Shellfish) using various features provided. Target output is value of Rings (Age = Rings + 1.5).<br />
The dataset can be found [**here**](https://archive.ics.uci.edu/ml/datasets/abalone)<br />
The given features are:
1. Sex
2. Length
3. Diameter
4. Height
5. Whole weight
6. Shucked weight
7. Viscer

[2019-10-01 11:53] yogesh1905 opened #28 "Huffman Encoding of given text file"
### Description
This folder contains a text file. Write a program to Implement Huffman encoding while taking input from the text file and output the encoding  for each character.

### Details
- Technical Specifications: preferred languages are C/C++/Python.
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Implement the above mentioned algorithm efficiently.

##

[2019-10-01 12:02] yogesh1905 opened #29 "Implement a program to efficiently evaluate exponent of a given number"
### Description
Write a program that takes 3 numbers, a, b and m as input and evaluates (a^b)%m efficiently and outputs the result.

### Details
- Technical Specifications: preferred languages are C/C++/Python.
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the above mentioned algorithm efficiently.

### Resources
https://www.geeksforgeeks.org/modula

[2019-10-01 12:44] kampaitees opened #30 "Convert TCP Socket program to UDP program"
### Description
From [here](https://github.com/kampaitees/Ethical-Hacking-Basic-using-Socket-Programming/tree/master/Basic%20programs%20of%20Socket%20Programming/Chat%20application) you can get the code of Client and Server implemented in python for TCP protocol.
You have to convert it to UDP protocol(unreliable connectionless transport layer protocol).

### Details
- Technical Specifications: Pyt

[2019-10-01 12:46] kampaitees commented on #19
I'm ready to solve it

[2019-10-01 13:12] NJnisarg commented on #25
There is a file in /systems/IPC-using-Sockets.c
Use that file and fix bugs in that. Submit your patch by making changes to the file itself. Add @NJnisarg as a request for review.
If any doubts, ask on this thread.

[2019-10-01 13:45] pattarvarun opened #31 "Reduced row echelon form of a matrix"
### Description
Write a C program to get the reduced row echelon form of a matrix.

### Details
- Technical Specifications: Implementation is expected in C.
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Efficient algorithm Implementation

### Resources
https://en.wikipedia.org/wiki/Row_echelon_form

### Directory Structure
Create a directory named 'ReducedRow

[2019-10-01 14:00] kampaitees commented on #21
I'm going to do it

[2019-10-01 14:09] nihal-rao opened #33 "Airfoil Noise Prediction (Regression)"
### Description
Implement any regression model to predict the self noise generated by an airfoil using various features provided.Target output is sound level in decibels.

The dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/Airfoil+Self-Noise)

The given features are:

1.Frequency, in Hertzs.
2.Angle of attack, in degrees.
3.Chord length, in meters.
4.Free-stream velocity, in m

[2019-10-01 14:24] Chans321 opened #36 "Form validation using JavaScript"
### Description
Given a html code to implement a feedback form(the code can be found in `Development/Issue_36/feedback.txt`, write 2 JavaScript functions -one to validate email address and 1 to validate that the phone number is a valid 10 digit phone number with (+91) in the beginning.

### Details
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Validate email

[2019-10-01 14:47] Chans321 opened #37 "Code refactoring and base conversion using recursion"
### Description
This issue mainly consists of 2 tasks. Your first task is to understand the program given in `algorithms/recursion/code_refactoring.c` and then modify it to adhere to good programming practices by giving meaningful variable names, spacing, indentation, comments etc. For the second part, you are required to write a program which converts(prints) a positive decimal number to its equi

[2019-10-01 15:02] adharshkamath opened #38 "Rewriting code using a supported library"
### Description
`development/Issue_38/script.py` uses the crypt python module, which will be deprecated in Python 3.8. The task is to rewrite the code using an alternative python module.

### Details
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Should have the expected behaviour (similar to the original file)

### Resources

- https://docs.python.org/3/libra

[2019-10-01 15:15] harshnitk17 opened #40 "Implement Text Search for tables in javascript"
### Description
Write JavaScript code to implement text search for html tables.It must be similar to the datatables plugin in jQuery.

### Details
- Technical Specifications: Implement a Search for tables which can dynamically change the output based on the input given in search box.No need to implement other features of Data tables,implement only search.
- Type of issue: Single
- Time Limit: 2 da

[2019-10-01 15:20] SkaMessi10 opened #41 "Finding the strength of a given Password."
### Description
Click the link below for the problem statement.
[Hacktoberfest1.docx](https://github.com/WebClub-NITK/Hacktoberfest-2k19/files/3677050/Hacktoberfest1.docx)

### Details
- Technical Specifications: Can use any language like C,C++,Java,Python,etc.
- Type of issue: Single
- Time Limit: 5 hours

### Issue requirements / progress
- [ ] Should meet the requirements as per the problem sta

[2019-10-01 15:37] harshnitk17 opened #42 "Topological sorting for Directed Acyclic Graph"
### Description
Topological sorting for Directed Acyclic Graph (DAG) is a linear ordering of vertices such that for every directed edge uv, vertex u comes before v in the ordering. Write  a program to find any topological sort of a given graph.

### Details
- Technical Specifications:Use only C,C++,Java or Python to write the code
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements

[2019-10-01 15:48] niranjansy opened #43 "To calculate nCr using Dynamic Programmimg"
**Description**
The objective of this program is to calculate the value of nCr for given values of n and r. This can be done using the recursive formula:
nCr = (n-1)Cr + (n-1)C(r-1)
For big values of n and r, implementing this using a recursive function takes a very long time since there will be many overlapping sub-problems. So a solution to this would be to use dynamic programming, where we stor

[2019-10-01 16:35] abhishekkumar2718 opened #44 "Generating Prime Numbers"
### Description
A prime number (or a prime) is a natural number greater than one that cannot be formed by multiplying two smaller natural numbers. Generating and verifying if a given number is prime is of critical importance in cryptography.

In this issue, you will need to generate all prime numbers between two given inputs - **low** and **high**.

Example: If the inputs are `low = 2, high = 10`,

[2019-10-01 16:47] acebby commented on #43
I would like to take this up.
Could you give the constraints on 'n' and 'r'?

[2019-10-01 17:16] nirmalhk7 commented on #36
This one's claimed.

[2019-10-01 17:19] kinshukk opened #46 "login script for NITK-NET"
### Description
Write a script that sends a POST request to the captive portal (nac.nitk.ac.in:8090) with credentials, and logs you into the server. This can be done using the `requests` module.
To know what exactly the POST request should contain, open up the captive portal website, do 'Inspect Element', and open the 'Network' tab. Then login in the main page. You'll see the list of requests that

[2019-10-01 17:24] kinshukk opened #47 "Conway's Game of Life"
### Description
You are given code that simulates the Brian's brain automation, and uses pygame.
Change the logic so that it simulates Conway's game of life instead.

### Details
- Type of issue: Single
- Time Limit: 2 days

### Resources
- https://en.wikipedia.org/wiki/Brian's_Brain
- https://en.wikipedia.org/wiki/Conway's_Game_of_Life
- https://www.pygame.org/docs/

### Directory Structure
See t

[2019-10-01 17:32] niranjansy commented on #43
0 <= r <= n <=1000

[2019-10-01 17:33] shanthanu9 opened #48 "Optimize recursive Fibonacci implementation"
### Description
```algorithms/48/fib.cpp``` contains a recursive implementation for computing the nth Fibonacci number. Although the program is correct, it takes too long to compute Fibonacci numbers. For instance, it takes a very very long time (> 1 hour) to compute just the 60th Fibonacci number. Suggest an optimization to improve the performance and refractor the given program to implement the

[2019-10-01 17:50] abhinavpy opened #49 "Write a shell/bash script from scratch to print out server information such as utilization, current connections, disk and memory usage, recent logins etc."
### Important : Claim the issue by commenting below so we can ensure only one person is working on it.

### Description
Write a bash script that prints the server's:
1. Resource Utilization
2. Current Connections to the server.
3. Disk and Memory Usage.
4. List of recent logins.
Read through the Issue requirements below and print results exactly as the order specified.

### Details
- Technical Spe

[2019-10-01 17:53] shanthanu9 opened #51 "Decimal to Binary Conversion"
### Description
Write a program in C to convert a user-entered decimal number to binary without using in-built functions that explicitly do it for you.

### Details
- Technical Specifications: Preferred language is C
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the given task.
- [ ] Ensure that it compiles and runs as expected.

### Resources
[http

[2019-10-01 18:02] shanthanu9 opened #52 "Lucas sequence using Recursion"
### Description
Write a program in C to generate the Lucas number desired by the user using the concept of recursion.

### Details
- Technical Specifications: Preferred language is C.
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the given task.
- [ ] Ensure that is compiles and runs as expected.

### Resources
[https://en.wikipedia.org/wiki/Lucas_n

[2019-10-01 18:09] tarungulati1988 commented on #49
Is this available? If yes I can take this up.

[2019-10-01 18:16] nirmalhk7 commented on #23
I'll try this.

[2019-10-01 18:23] SakshatRao opened #53 "Snake Game - Code Snippet"
### Description
Create a snippet of code to terminate a basic snake game when the snake touches itself.
(P.S. - This snippet must be added to the existing snake game code. It will be present in the algorithms/Issue_53 folder. Sorry about the confusion!)

### Details
- Technical Specifications: Javascript is preferred
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
-

[2019-10-01 19:15] Madhuparna04 opened #55 "Add synchronisation mechanisms to avoid race condition."
### Description
In file synchronization.c 10 threads add a value of 10,000 to the global variable sum. But because of race condition, the final value of sum is not 1,00,000.
Add appropriate synchronization constructs so that the value stored in sum is deterministic and equal to 1,00,000.

### Details
- Technical Specifications:
- Type of issue: Multiple
- Time Limit: 2 days

### Resources
- Wikipe

[2019-10-01 19:23] NKH123 opened #56 "Finding the nth largest number in O(n)"
### Description
Write a program in C to find the the kth largest number in an unsorted array in linear time using Median of Median algorithm.

### Details
- Technical Specifications: Preferred language is C
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the given task.
- [ ] Ensure that it runs in linear time.
- [ ] Ensure that is compiles and runs a

[2019-10-01 19:23] kampaitees commented on #27
I'm doing it

[2019-10-01 19:33] NKH123 opened #57 "Find the Minimum Weight Spanning Tree of an Undirected Weighted Graph"
### Description
Write a program to find the minimum weight spanning tree of an undirected weighted graph using either Prim's or Kruskal's algorithm.
Take input from stdin and print output to stdout.
Take input as n the number of nodes, m is the number of edges.
Next m lines contain u, v, and w i.e there is an edge between node u and node v with weight w.
Then print the MST of the graph.

### Detai

[2019-10-01 20:01] kampaitees opened #59 "Webcam Multiface Facial Recognition"
### Description
[Here](https://github.com/kampaitees/KSP-Internship-projects/blob/master/Criminal%20Recognition/Image%20Search%20from%20Database%20Method%201.ipynb) is the implemented version of Static Facial Recognition where input will be an image from the folder and output will be the similar images from the database. In this model, I assumed that there is only one face in the image. So I want

[2019-10-01 20:47] shash137 commented on #51
Hello, I can write the C program for decimal to binary converter.  I wan to claim this issue.

[2019-10-01 20:49] SaurabhAgarwala opened #60 "Implement Insertion Sort"
### Description
Implement the Insertion Sort Algorithm in any language of your choice

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: ~24 hours after claiming the issue
### Issue requirements / progress
- [ ] Implement the insertion sort algorithm in any language of your choice
- [ ] Properly document the code implemented.

### Resources
[Insertion Sort-Wikipedia](ht

[2019-10-01 21:04] TobyAsE commented on #60
I'm on it.

[2019-10-01 21:09] SaurabhAgarwala commented on #60
Sure. Please send a PR by 23:59 IST, 02/10/2019.

[2019-10-01 21:25] 4molybdenum2 commented on #60
can i send a pr?

[2019-10-01 21:28] SaurabhAgarwala commented on #60
@4molybdenum2 Sorry, the issue has already been taken up. If a PR is not send within the given deadline, you will be asssigned next.

[2019-10-01 21:30] SaurabhAgarwala opened #63 "Database Integration"
### Description
Create a simple HTML form of your own choice having various input fields ans then store the data entered in the form into a external database.

### Details
- Technical Specifications: Can use any available Libraries/Frameworks for the task
- Type of issue: Single
- Time Limit: ~48 hours after claiming the issue

### Issue requirements / progress
- [ ] Create an HTML form with atlea

[2019-10-01 21:58] benknoble commented on #56
I'll claim this one.

How do we *ensure that it runs in linear time*? Just implement the algorithm, or are you looking for proofs, or something "good enough"?

[2019-10-01 22:13] Thaniiaa opened #65 "Database beta"
### Description
Please explain the issue here. Provide the requirements / specifications in detail and try to avoid ambiguity

### Details
- Technical Specifications:
- Type of issue: [Single | Multiple] (A particular issue may have many subtasks or a possibity of different implementations, so won't be fulfilled by a single PR).
- Time Limit: This time limit will be enforced once someone has claim

[2019-10-01 22:18] #65 closed

[2019-10-01 22:52] waterfl0w commented on #28
I would like to claim this. :)

[2019-10-01 22:53] waterfl0w commented on #20
I would like to claim this issue.

[2019-10-02 00:25] bamsarts commented on #60
i'm on it using php

[2019-10-02 00:59] csp98 commented on #41
Hi. I would like to work on this issue.

[2019-10-02 01:25] brendanAlbert commented on #40
Hello, hello.  I would love to try and tackle this bad boy.

[2019-10-02 02:22] deepakkavoor commented on #51
Go ahead @shash137

[2019-10-02 02:38] shrinidhi99 opened #67 "Recycler view implementation"
### Description
The recycler view implemented in java and kotlin do not match

### Details
The kotlin recycler view looks like the simplest way of implementing recycler view but the java version implements recycler view along with searching in a recycler view.
### Issue requirements / progress
- [x] Remove the search in java recycler view

### Resources
recycler view in android documentation

###

[2019-10-02 02:58] vrn25 commented on #27
@kampaitees each model requires a new pull request. Please choose and specify one of the models you would like to work on.

[2019-10-02 03:03] satooru commented on #23
I'd like to try this one too!

[2019-10-02 03:11] Rhuancpq commented on #52
Working on it

[2019-10-02 03:13] krithikvaidya commented on #23
Cool! Just mention whether you'll be doing it in MySQL or SQLite3

[2019-10-02 03:14] deepakkavoor commented on #52
Sure

[2019-10-02 03:14] krithikvaidya commented on #23
Cool! Just mention whether you're doing it in MySQL or SQLite3

[2019-10-02 03:16] krithikvaidya commented on #23
Sure, but you'll need to select the DBMS that @nirmalhk7 isn't using

[2019-10-02 03:26] datbnt-0905 commented on #60
i'm on it using C++

[2019-10-02 03:35] adrianoapj commented on #44
Can I work on this?

[2019-10-02 03:36] adrianoapj commented on #44
Can I work on this?

[2019-10-02 03:42] satooru commented on #23
Ok, I guess...

I hope SQLite isn't too different from MySQL.

[2019-10-02 03:51] brendanAlbert commented on #30
I'd like to handle this one :)

[2019-10-02 04:09] satooru commented on #23
@nirmalhk7 for now, I'll be using SQLite. Let me know if you want switch.

[2019-10-02 04:14] myselfronin commented on #60
I'm on it using Java

[2019-10-02 04:45] Sagnik-Ghosh opened #72 "Maximum subarray sum"
### Description
Write a program in c to find maximum subarray sum in linear time.
### Details
- Technical Specifications: language is C
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the given task.
- [ ] Ensure that it runs in linear time.

### Directory Structure
Create a folder named "72" after the issue number in 'algorithms' folder. Name your pr

[2019-10-02 04:49] niranjanrao1509 opened #73 "Tic-tac-toe BOT"
### Description
Create a basic Tic-Tac-Toe implementation using minimax pruning

### Details
- Technical Specifications:
- Type of issue: [Single | Multiple] (A particular issue may have many subtasks or a possibity of different implementations, so won't be fulfilled by a single PR).
- Time Limit: 2days

### Issue requirements / progress
- [ ] Incorporate pygame for graphical UI
- [ ] Implement Al

[2019-10-02 05:10] shash137 commented on #51
Hey @deepakkavoor i have submitted my PR for review, I've one doubt that it's issue no. 51 but in the description it says to make a folder of 52. I have done accordingly, please check it.
Thank you.

[2019-10-02 05:14] shanthanu9 commented on #51
Sorry my bad. It should folder 51 itself. I have updated the issue accordingly

[2019-10-02 05:16] nirmalhk7 commented on #23
I'll be using MySQL.

[2019-10-02 05:17] shash137 commented on #51
@shanthanu9 do i need to change the folder name, because i have generated PR already

[2019-10-02 05:20] Sagnik-Ghosh opened #74 "segmentation fault in merge sort"
### Description
Debug the encountered segmentation fault in merge sort algorithm
### Details
- Technical Specifications: language C
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Debug the merge sort code

### Directory Structure
The program is in algorithms/74/source.c

#### Note
Please claim the issue first by commenting here before starting to work on it.

[2019-10-02 05:21] lryanle commented on #44
Claiming.

[2019-10-02 05:22] shanthanu9 commented on #51
Yeah change the folder name. Just change the folder name and push the
changes. It will be automatically reflected in the PR.

On Wed, Oct 2, 2019, 10:47 AM Shashank Shukla <notifications@github.com>
wrote:

[2019-10-02 05:28] deepakkavoor commented on #52
@Rhuancpq this looks fine.
@SaurabhAgarwala please merge this PR.

[2019-10-02 05:31] lryanle commented on #16
Since @shrinidhi99 hasn't resolved the issue, I'll take it on.

[2019-10-02 05:35] dipanshu231099 commented on #74
i would like to correct the fault

[2019-10-02 05:39] Sagnik-Ghosh commented on #74
Sure. Please send a PR by 23:59 IST, 02/10/2019.

[2019-10-02 05:45] David-Hinschberger commented on #55
I can work on this.

[2019-10-02 05:56] #52 closed

[2019-10-02 05:59] dipanshu231099 commented on #74
@Sagnik-Ghosh kindly review

[2019-10-02 06:18] whilson03 commented on #60
I am working on it with python

[2019-10-02 07:02] shash137 commented on #51
@shanthanu9 I have made a PR in Master branch, so i think folder name can't be renamed.

[2019-10-02 07:04] shash137 commented on #51
@shanthanu9 done

[2019-10-02 07:14] HelioStrike commented on #72
I'll start working on this

[2019-10-02 07:16] narayanpai1 commented on #72
Sure. Go on!

[2019-10-02 07:50] shrinidhi99 commented on #67
I have made a PR to resolve this issue. Who needs to close this?

[2019-10-02 08:07] Subho13 commented on #60
Can I do it in C?

[2019-10-02 09:56] aasthac67 commented on #57
I would like to work on this

[2019-10-02 10:29] deepakkavoor opened #87 "AES-CBC using ECB mode"
### Description
Write a Python program to implement AES encryption and decryption in CBC mode. Refer to the PyCrypto package. You need to use the ```Crypto.Cipher.AES``` module in ```AES.MODE_ECB``` to chain ciphertext blocks when implementing CBC mode. **Do not use** ```AES.MODE_CBC``` **directly**.

Use the PCKS#7 padding wherever necessary.

### Details
- Technical Specifications: Language of i

[2019-10-02 10:50] vaibhav111tandon commented on #53
i can take this issue.

[2019-10-02 10:56] rohit-mp opened #89 "Automation of Sophos login in NITK"
### Description
Write a script or a tool to automate the process of sophos login connect to NITK-NET. Any approach is welcome and no fixed way of doing this expected.

### Details
- Technical Specifications: Anything which makes it simpler than manually logging in everytime
- Type of issue: Single
- Time Limit: 3 days

### Issue requirements / progress
- [ ] Script to login

### Directory Structur

[2019-10-02 11:12] rohit-mp commented on #15
Hey @Shashwatha-Mitra, any suggestions on which memory access pattern would be best to help me find the cache-line size?

[2019-10-02 11:23] ArnavNair opened #92 "MultiSig Wallet Using Smart Contracts"
### Description
Design a Smart Contract using Solidity that implements a multi-sig wallet. The wallet must have functionality to have multiple users, add or remove users, and accept or withdraw funds provided at least 50% of the users agree.

### Details
- Technical Specifications: Language of implementation must be Solidity.
- Type of issue: Single
- Time Limit: 3 days

### Issue requirements / p

[2019-10-02 13:10] A1phyte commented on #22
Can I take this issue?

[2019-10-02 13:11] kampaitees commented on #27
I had used decision tree classifier

[2019-10-02 13:50] SaurabhAgarwala commented on #1
I would like to work on this.

[2019-10-02 13:50] adityagamer786 commented on #1
I would like to work on this.

[2019-10-02 13:51] mananpoddar commented on #1
@SaurabhAgarwala  I am assigning this issue to you. please make sure to make a pr in the given time limit.

[2019-10-02 13:55] suhasks123 commented on #22
Yeah go ahead

[2019-10-02 14:11] anki-raj commented on #44
Claiming for an efficient solution using segmented sieve.

[2019-10-02 14:16] mnityesh28 commented on #1
I would like to work on this.

[2019-10-02 14:20] SaishMendke commented on #1
Please review my pull request and merge

[2019-10-02 14:25] shanthanu9 commented on #48
Sure, go ahead!

On Wed, Oct 2, 2019, 7:52 PM FantassyLoop <notifications@github.com> wrote:

[2019-10-02 14:32] rak108 commented on #24
can i work on this program?

[2019-10-02 14:40] FantassyLoop commented on #48
please review

[2019-10-02 14:43] FantassyLoop commented on #28
I want to take this issue

[2019-10-02 14:50] mnityesh28 commented on #1
@NJnisarg Please review my code and merge it

[2019-10-02 15:04] Shashwatha-Mitra commented on #15
Cache line brings in a line from memory based on locality of reference
So try using sequential memory access, and make appropriate time measurements

[2019-10-02 15:19] namanmanish commented on #12
Yes you can surely pick up this issue. Go ahead!

[2019-10-02 15:21] Sagnik-Ghosh commented on #72
Hey! @HelioStrike has already completed the task. I am closing this issue.

[2019-10-02 15:21] #72 closed

[2019-10-02 15:30] lelloman commented on #12
Great thanks! So 2 questions, one is, does the solution have to be in C or could I do it Java? Second is, can the input array contain duplicates? For instance, if the input array is [1,1,1] and the sum 2, should the output be 1 (because one pair is 1,1) or 3 (because [x, x, _] [x, _, x] [_, x, x]?

[2019-10-02 15:34] namanmanish commented on #12
For duplicates you can safely assume that the input will not contain any duplicates. It would be great if you do it in C. As you only have to complete the given function.

[2019-10-02 15:34] ArqumShaikh commented on #20
@waterfl0w The implementation should be in C++

[2019-10-02 15:37] riaaniru2613 commented on #41
@SkaMessi10  i want to work on this issue

[2019-10-02 15:50] waterfl0w commented on #20
Sure, I can do that.

[2019-10-02 15:59] shrinidhi99 commented on #67
Can someone review it? @harshnitk17 @SaurabhAgarwala

[2019-10-02 16:04] harshagrwl opened #132 "Responsive Login Form"
### Description
Create a Login Page with Username and Password credentials and a submit button. The page should be responsive and validate the credentials if they are correct. In case of wrong credentials, the user should have a fixed number of login attempts.

### Details
- Technical Specifications: JavaScript, HTML, CSS
- Type of issue: Single
- Time Limit: 2 days

### Directory Structure
Create

[2019-10-02 16:07] benlop27 commented on #23
I'll Take It! Using MySQL

[2019-10-02 16:09] dbarrerap commented on #8
I'll start working on this!

[2019-10-02 16:10] adityagamer786 commented on #24
I would like to work on this

[2019-10-02 16:13] adityagamer786 commented on #24
I would like to work on this

[2019-10-02 16:18] 17aakashsingh1999 commented on #8
@dbarrerap go ahead!

[2019-10-02 16:19] krithikvaidya commented on #23
Hey sorry, both the issues have already been taken...

[2019-10-02 16:23] riaaniru2613 commented on #29
@yogesh1905 i want to work on this issue

[2019-10-02 16:27] adityagamer786 commented on #23
I would like to work on this

[2019-10-02 16:29] adityagamer786 commented on #16
I would like to work on this

[2019-10-02 16:34] adityagamer786 commented on #132
I would like to work on this

[2019-10-02 16:44] tharun634 commented on #46
I would like to claim this issue!

[2019-10-02 16:45] adityagamer786 commented on #63
I would like to work on this

[2019-10-02 16:59] krithikvaidya commented on #23
Sorry, both issues have been taken.

[2019-10-02 16:59] #23 closed

[2019-10-02 17:02] DeltaCube23 commented on #60
Can I still try it on C++ ?

[2019-10-02 17:04] Sagnik-Ghosh commented on #72
@SaurabhAgarwala please merge PR #83

[2019-10-02 17:06] Sagnik-Ghosh commented on #74
@SaurabhAgarwala please merge #77. The task is complete.

[2019-10-02 17:06] #74 closed

[2019-10-02 17:07] jilloestreicher commented on #44
Would like to claim this project!

[2019-10-02 17:47] Shuddhatm22 commented on #28
i want to take up this issue

[2019-10-02 17:49] Shuddhatm22 commented on #27
i want to take up this issue using K neighbours clasiification

[2019-10-02 17:53] Shuddhatm22 commented on #7
i am taking this issue

[2019-10-02 17:55] vrn25 commented on #27
@Shuddhatm22 yes please start working on it.

[2019-10-02 17:56] yogesh1905 commented on #29
Sure @riaaniru2613, go ahead with it. Submit a PR before 03/10, 11.59pm.

[2019-10-02 18:02] lelloman commented on #73
Hi, can I pick this up for hacktoberfest? I have no idea what's minmax pruning so it sounds like an interesting one :)

[2019-10-02 18:05] yogesh1905 commented on #28
Sure @Shuddhatm22, you can take it. Remember to send a PR before 04/10, 11:59pm.

[2019-10-02 18:17] bigBrain1901 commented on #56
@NKH123 Please review this code and merge if alright

[2019-10-02 18:31] NKH123 commented on #56
@benknoble Sure. I'll assign you the issue. Just implementing the MoM algorithm is fine. No proofs required.
You have till 24 hrs to send a PR.

[2019-10-02 18:32] Sriram2001 opened #143 "Responsive Web Design"
### Description
Modify the static web page linked below to make it responsive. Currently, the web page is designed only for a desktop screen size. You are expected to design it for phone and tablet sizes and implement it by modifying the existing code.
You are allowed to resize and/or remove elements that may not be useful while the web page is being viewed on a phone or a tablet.
Link: [Web Page]

[2019-10-02 18:34] kinshukk commented on #46
@tharun634 Sure, go ahead!

[2019-10-02 18:51] Kuljeet-123 commented on #132
I would like to work on it

[2019-10-02 18:53] NKH123 commented on #56
I have reviewed your code and made comments.

[2019-10-02 18:53] Madhuparna04 commented on #55
Hi, @David-Hinschberger thank you for working on this issue.
@SaurabhAgarwala I have verified the PR, please proceed with merging the Pull request.

[2019-10-02 18:55] NKH123 commented on #57
@aasthac67 Sure. I'll assign you the issue. You have till 24 hrs to send a PR.

[2019-10-02 18:59] BlazkowiczTon commented on #51
Can I work on it.

[2019-10-02 19:21] whilson03 commented on #60
I think you should

On Wed, 2 Oct 2019, 6:02 PM Adithya Rajesh, <notifications@github.com>
wrote:

[2019-10-02 23:39] matthewcm commented on #47
I would like to work on this. I want to improve my python coding ability

[2019-10-03 01:48] deepakkavoor commented on #51
You can implement in any language other than c and c++

[2019-10-03 01:51] KeertiCh commented on #31
I would like to work on this

[2019-10-03 03:17] Shuddhatm22 commented on #143
I want to take up this issue

[2019-10-03 03:22] SkaMessi10 commented on #41
@SaurabhAgarwala ...Please merge the issue. The task is complete.

[2019-10-03 03:25] tharun634 commented on #89
I would like to claim this issue and work on it!

[2019-10-03 04:29] bigBrain1901 commented on #56
I don't know what the MoM algorithm is, but I will look it up and send a PR

On Thu 3 Oct, 2019, 12:23 AM Neeraj Deshpande, <notifications@github.com>
wrote:

[2019-10-03 04:52] kinshukk commented on #47
Okay go ahead

[2019-10-03 05:00] ryan-rozario opened #150 "Single Byte XOR."
### Description
Write a function to encrypt some text using Single-byte XOR cipher.
Give the output as a hex-encoded string.

Write a function to break the single byte XOR cipher(input should be given as a hex encoded string).
Try to decrypt the message using all keys from 0 to 255.
Evaluate each output using character frequency as the scoring measure. Choose the output with the highest score.
Ret

[2019-10-03 05:13] ryan-rozario opened #151 "Changing the base of a number"
### Description
Write a python script to convert a number from one base to another. (maximum base 62)
The inputs to the program should be the number representation, the original base of the given number, the base to which the number has to be converted.

Use the following symbol to value table
`

         '0': 0,
         '1': 1,
         '2': 2,
         '3': 3,
         '4': 4,
         '5': 5,

[2019-10-03 05:29] AnorexicAtticusFinch opened #152 "Random Number Generation"
### Description
Write the code to generate 1,00,000 random numbers and write them into a text file (Any language).

### Details
- Technical Specifications: Any language
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress

- [ ] - Implement the given task.

### Directory Structure
Make sure a directory is created under the corresponding domain folder properly following th

[2019-10-03 05:37] AnorexicAtticusFinch opened #153 "OpenGL Window Creation"
### Description
Create an OpenGL context and an application window to render in using SDL, GLUT or GLFW.

### Details
- Technical Specifications: C/C++
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress

- [ ] - Open a window
- [ ] - Allow the window to be resizable
- [ ] - Make the window a solid color of your choice (Not Black)

### Resources
https://learnopengl.com/

[2019-10-03 06:09] NJnisarg commented on #30
Good work @brendanAlbert! Closing the issue now.

[2019-10-03 06:09] #30 closed

[2019-10-03 06:50] ameyanrd commented on #53
Hi! so you can work on the issue. I see your code, but we want you to work on the game we have. We'll soon upload it in ```algorithms/53``` directory. Try to understand the code from the comments and try to add the termination condition at commented places. For any clarifications/doubts, feel free to ask here. All the best!

[2019-10-03 06:56] Kuljeet-123 commented on #132
@harshagrwl I have submitted my pull request .My pull request id is #155 ,Please review it and  merge it.

[2019-10-03 07:20] Kuljeet-123 commented on #1
@NJnisarg please review my Pull Request #157

[2019-10-03 08:28] rohit-mp commented on #89
Sure! Go ahead.

[2019-10-03 08:28] adityachirania commented on #24
Yes you can go ahead

On Oct 2, 2019 20:02, "rak108" <notifications@github.com> wrote:

[2019-10-03 08:29] adityachirania commented on #24
Sorry someone else already asked for it first

On Oct 2, 2019 21:43, "adityagamer786" <notifications@github.com> wrote:

[2019-10-03 08:58] ADITYA-CS commented on #48
I want to work on this.

[2019-10-03 09:01] abhinavpy commented on #49
Yes, you can start off with it.

[2019-10-03 09:05] riaaniru2613 commented on #152
@AnorexicAtticusFinch i want to work on this issue

[2019-10-03 09:19] NJnisarg commented on #55
@Madhuparna04 @David-Hinschberger I have merged the PR. Closing the issue now.

[2019-10-03 09:19] #55 closed

[2019-10-03 09:24] NJnisarg commented on #67
Merged it. Closing the issue

[2019-10-03 09:24] #67 closed

[2019-10-03 09:29] NJnisarg commented on #23
Why was this issue closed? Is some PR merged?

[2019-10-03 10:04] NJnisarg commented on #44
There are already 2 merged requests. Closing this issue.

[2019-10-03 10:04] #44 closed

[2019-10-03 12:02] krithikvaidya opened #166 "Given an IPv4 Address, find its class."
### Description
Assuming classful addressing, given an IPv4 address, find its address class. If the entered IP address is invalid, your program should output an appropriate error message. Please follow the Input / Output format as shown below:

Example:
`Enter the IPv4 address: 194.200.20.55`
`This is a class C IPv4 address.`

### Details
- Technical Specifications: The task should be done in any

[2019-10-03 12:31] aasthac67 commented on #166
I would like to work on this.

[2019-10-03 13:03] DeltaCube23 commented on #41
I would like to work on this

[2019-10-03 13:05] namanmanish commented on #12
Seems good.Is working fine and running time is also linear.

[2019-10-03 13:12] nirmalhk7 commented on #166
I'd love to do this on C++.

[2019-10-03 13:25] NJnisarg commented on #166
When you start working, if someone has already created the above mentioned folder(Issue 166 - IPv4 Class') Please simply put your file in that folder, do not again create a similar folder.

[2019-10-03 13:33] i-m-vivek commented on #27
I want to take up this issue using Multi-layer Perceptron (MLP) Classifier.

[2019-10-03 13:34] krithikvaidya commented on #166
Sure, but edit your comment to mention the language you're using.

[2019-10-03 13:34] krithikvaidya commented on #166
Go ahead

[2019-10-03 13:39] vrn25 commented on #27
@i-m-vivek Go ahead

[2019-10-03 13:39] aasthac67 commented on #166
Ill be working in C++

[2019-10-03 13:47] krithikvaidya commented on #166
Sorry, since @nirmalhk7 mentioned that he'd be using C++ earlier, you'll need to use something else...

[2019-10-03 13:47] #41 closed

[2019-10-03 13:48] SkaMessi10 commented on #41
Sorry,but the issue has already been solved. Please take a look at some of the other problems in the repository.

[2019-10-03 13:50] aasthac67 commented on #166
Ok ill go ahead with Python

[2019-10-03 13:52] abrahamfrancis commented on #166
I'll do this in C.

[2019-10-03 13:53] namanmanish commented on #12
Leave it the owner of this repository will see it and merge it as soon as possible. Thanks for contributing.

[2019-10-03 14:13] nandakishore323 commented on #22
Can I Take this please,? please

[2019-10-03 14:25] nandakishore323 commented on #56
is this still open?

[2019-10-03 14:28] suhasks123 commented on #22
Cool, go ahead.

[2019-10-03 14:38] benknoble commented on #56
@nandakishore323 I believe we're just waiting on #148 to merge and close it

[2019-10-03 15:01] Kuljeet-123 commented on #1
@NJnisarg  please review my PR and merge into your repository and my PR id is #173

[2019-10-03 15:53] NJnisarg commented on #60
There have already been 3 merged PR. Closing the issue now

[2019-10-03 15:53] #60 closed

[2019-10-03 15:57] NJnisarg commented on #51
The first PR has been merged. Closing the issue.

[2019-10-03 15:57] #51 closed

[2019-10-03 16:00] #56 closed

[2019-10-03 16:13] abrahamfrancis commented on #151
@ryan-rozario I'll take this up.

[2019-10-03 16:13] rak108 commented on #24
given a PR, kindly check
https://github.com/WebClub-NITK/Hacktoberfest-2k19/pull/179

[2019-10-03 16:14] riaaniru2613 commented on #152
@AnorexicAtticusFinch  please review the file and merge it

[2019-10-03 16:32] entowan commented on #37
Hi, can I work on this issue?

[2019-10-03 16:35] Shuddhatm22 commented on #42
i want to take this one

[2019-10-03 16:47] ryan-rozario commented on #151
OK sure. Yeah create directory 151 in algorithms folder

[2019-10-03 17:55] Mksiyak commented on #17
i will work on it.

[2019-10-03 18:00] Mksiyak commented on #11
i would like to work on it.
which type of file this will be ?
text,images or something else

[2019-10-03 18:05] Mksiyak commented on #7
i would like to work on it.

is root pointer will be given for both trees and data only(if data then sorted or not)?

and if i got two numbers one from each tree, and they both are also present any of these two trees.
so this pair will considered as answer or not ?

[2019-10-03 18:25] arpi-r commented on #11
The file will be a text file.
Go ahead and work on it!

[2019-10-03 18:53] ArqumShaikh commented on #20
Fine, I am assigning this issue to you.

[2019-10-03 18:55] vishy-kothari-96 commented on #166
Working in python for this issue

[2019-10-03 19:08] Mksiyak commented on #89
i would like to make executable shell script for this issue with the help of curl(tool to send get and post request through terminal).

[2019-10-03 19:38] predator4hack commented on #31
I would like to work on it

[2019-10-03 20:08] SrivatsanV commented on #7
Clarifications :
 - Take input from the user and build a BST using linked lists (data can be in random order)
 - Yeah the pair can be the answer, also if you find two or more pairs that follow the target sum condition, you can give any one the pairs as output.

@Shuddhatm22 - status on this issue?

[2019-10-03 21:33] predator4hack commented on #12
can i work on this problem?

[2019-10-03 21:34] predator4hack commented on #29
I can work on this project

[2019-10-03 21:41] GuptaNCode commented on #1
add my introduction

[2019-10-04 00:23] IvanFLeon commented on #153
I would like to give this a try!

[2019-10-04 02:00] adityagamer786 commented on #63
@SaurabhAgarwala please review my code

[2019-10-04 02:55] #57 closed

[2019-10-04 03:09] namanmanish commented on #12
Ya sure go for it.

[2019-10-04 03:22] harshnitk17 commented on #42
Sure go ahead

[2019-10-04 03:42] descifrado commented on #166
I will do it in java

[2019-10-04 04:14] nandakishore323 commented on #22
#22 StringTokenization. Wrote the code.
@suhasks123 can you please review and suggest changes

[2019-10-04 04:15] nandakishore323 commented on #22
systems/StringTokenization/main.c

[2019-10-04 04:52] gaurivn commented on #17
I would like to work on this issue.

[2019-10-04 04:57] predator4hack commented on #152
I want to work on it

[2019-10-04 05:00] pattarvarun commented on #31
Yeah. Go ahead.

[2019-10-04 05:37] harshagrwl commented on #132
@SaurabhAgarwala @harshnitk17  #155 is approved. Please merge it.

[2019-10-04 05:38] abhinavpy commented on #143
You can take it up.

[2019-10-04 05:41] #132 closed

[2019-10-04 06:09] #12 closed

[2019-10-04 06:18] Mohit-Mithra opened #191 "Implement a program to execute an LSB Radix sort."
### Description
Write a progran that takes in an array of positive integers and sorts them using RADIX sort starting from the LSB and gives the the sorted array in the output.

### Details
- Technical Specifications: Preferred languages are C/C++ or python.
- Type of issue: Single
- Time Limit: 12 hours

### Resources
List of resources that might be required / helpful.

https://en.wikipedia.org/wi

[2019-10-04 06:30] adityachirania opened #192 "Encode and Decode using Caesar script (CRYPTOGRAPHY)"
### Description
Write a C/C++/Python program that takes in a message (A STRING) and encrypts the message using Caesar script:
-[ ]Define an encryption function that takes the message and a key as a parameter and encrypts the message.
-[ ]Define a decryption function that takes the encrypted message and key as parameter and returns the decrypted message.
-[ ] Also write a function to brute forces a

[2019-10-04 06:35] Mohit-Mithra opened #193 "Vigenére cipher"
### Description
Given a key, write a program to encrypt/decrypt the given text using Vigenére cipher.

### Details
- Technical Specifications: Langauge of your choice(C, C++, python, Java, Go, Ruby)
The task should be done in any of the above-mentioned programming languages. Please note that you should submit only a single file containing the code, and nothing else.
- Type of issue: Multiple
- Tim

[2019-10-04 06:40] adityachirania commented on #24
@rak108 The code Looks great!
 @harshnitk17 Please merge the PR.
Closing the issue!

[2019-10-04 06:44] lashewi commented on #166
I would like to work on this in C#

[2019-10-04 06:59] #43 closed

[2019-10-04 07:06] riaaniru2613 commented on #29
@yogesh1905 @SaurabhAgarwala I've made the changes .. please check it again

[2019-10-04 07:41] christophevolbert commented on #49
Can i still work on it ?

[2019-10-04 08:31] him1anshu commented on #193
I want to work on this issue.@Mohit-Mithra

[2019-10-04 08:57] nirmalhk7 commented on #192
@adityachirania I'd love to do this on C++.

[2019-10-04 09:00] abhinavpy commented on #49
@christophevolbert you can start working on it since I haven't yet seen any pull request made from @tarungulati1998 regarding this issue. Make sure you comment here once you've made a pull request so I can review before merging.

[2019-10-04 09:11] mananpoddar commented on #21
@kampaitees  please work on it.

[2019-10-04 09:12] mananpoddar commented on #19
@kampaitees  go ahead.

[2019-10-04 09:17] him1anshu commented on #193
the input will be in uppercase and without spaces by default or it can also take input in lowercase and with spaces then it should do the conversion after changing the input into uppercase and without spaces?@Mohit-Mithra @Z0Marlin

[2019-10-04 09:33] apoorva-mk opened #204 "Salt and pepper noise remover using OpenCV"
### Description
Write a script to remove salt and pepper noise from an image using Python using OpenCV library ( Preferably avoid library functions except for reading and writing images )

### Details
- Type of issue: [Single]
- Time Limit: 2 days

### Issue requirements / progress
- [x] Implemented in python
- [x] Use OpenCV

### Resources
https://opencv.org/

### Directory Structure
Make sure a

[2019-10-04 09:33] nandakishore323 commented on #143
still open?

[2019-10-04 09:34] rahul0324 commented on #16
I am solving this issue.

[2019-10-04 09:58] Z0Marlin commented on #193
@him1anshu Go ahead!

[2019-10-04 10:14] him1anshu commented on #193
ok...thanks.@Z0Marlin

[2019-10-04 10:29] SakshatRao opened #206 "Extracting colors from an image"
### Description
Extract all primary and secondary colors (i.e. red, green, blue, yellow, magenta and cyan) from the given image. You need to get six images corresponding to the six colors extracted. The color extraction part has to be done manually and not through modules like OpenCV. You need to work on the below image.

![color_image](https://user-images.githubusercontent.com/39237794/66200304-5

[2019-10-04 10:58] ansen16 opened #207 "Dijkstra's Algorithm"
### Description
Write an efficient code to find and print the path between 2 nodes in a graph using Dijkstra's Algorithm. The Implementation should be in C++.

### Details
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Implement Dijkstra's Algorithm

### Resources
https://www.hackerearth.com/practice/notes/dijkstras-algorithm/

### Directory Structure
Create

[2019-10-04 11:06] aasthac67 commented on #207
I like to work on this issue

[2019-10-04 11:09] ansen16 commented on #207
Sure, I'm assigning it to you.

[2019-10-04 11:55] csp98 commented on #192
I would like to do this in Python.

[2019-10-04 13:50] riaaniru2613 commented on #29
@yogesh1905  i've added the parenthesis in the new commit .. please review it

[2019-10-04 13:50] harshsri2208 opened #212 "please look at issue #211 where I have added heap sort implementation"
### Description
I have added an algorithm to implement heap sort on an array of integers.

[2019-10-04 13:54] nandakishore323 commented on #152
open or closed?

[2019-10-04 13:57] nandakishore323 commented on #22
Please Review My code and merge if its okay
#197

[2019-10-04 14:06] suhasks123 commented on #22
I have reviewed PR #197 that solves issue #22. Please merge it @SaurabhAgarwala

[2019-10-04 14:18] Himanshu307 commented on #16
I would like to work on it.

[2019-10-04 14:59] vishy-kothari-96 commented on #49
Am I allowed to work on this?

[2019-10-04 15:58] Shuddhatm22 commented on #42
please review the issue

[2019-10-04 16:03] Shuddhatm22 commented on #191
i want to take this issue

[2019-10-04 16:05] yogesh1905 commented on #28
@SaurabhAgarwala  you can merge the PR #175

[2019-10-04 16:12] yogesh1905 commented on #29
I didn't find the change. So could you just re verify it :)

[2019-10-04 16:12] yogesh1905 commented on #29
You can ask any doubts if you have

[2019-10-04 16:32] Mohit-Mithra commented on #191
Alright go ahead

[2019-10-04 16:38] Janmansh commented on #16
I would like to work on this issue.

[2019-10-04 17:09] dbarrerap commented on #8
Creating PR

[2019-10-04 17:13] aansari4599 commented on #48
I want to work on this.

[2019-10-04 17:31] NegaMage commented on #48
I want to work on this. I'll try using DP.

[2019-10-04 17:35] dbarrerap commented on #8
Request for review @17aakashsingh1999

[2019-10-04 17:41] shanthanu9 commented on #48
It's nice to see so many of you want to work on this! Although @FantassyLoop has already submitted a PR and it's under review. But he hasn't responded to my review for two days now. So if he doesn't reply to my PR review by tomorrow, I will let one of you new folks take up the issue.

[2019-10-04 17:59] Shuddhatm22 commented on #191
please review this issue

[2019-10-04 18:37] NegaMage commented on #1
@NJnisarg requesting PR review, id #223 .

[2019-10-04 18:40] Janmansh commented on #24
I would like to work on this.

[2019-10-04 18:41] Janmansh commented on #152
@AnorexicAtticusFinch  I would like to work on this.

[2019-10-04 18:55] HassanAlsamahi commented on #206
Hello, I'd like to work on this issue

[2019-10-04 18:59] GuptaNCode commented on #31
i want to work on this project

[2019-10-04 19:05] GuptaNCode commented on #152
i want to work on it

[2019-10-04 19:06] Janmansh commented on #152
@AnorexicAtticusFinch Please review my PR. Thank you.

[2019-10-04 19:20] Janmansh commented on #29
@yogesh1905 I would like to work on this.

[2019-10-04 19:25] adityachirania commented on #192
@nirmalhk7 you may take it up.

[2019-10-04 19:26] adityachirania commented on #192
@csp98 im sorry some else requested before you

[2019-10-04 19:27] him1anshu commented on #193
Please review the code.I have made the changes.@Z0Marlin

[2019-10-04 19:28] Janmansh commented on #29
@yogesh1905 Please review PR. Thank You.

[2019-10-04 19:31] GuptaNCode commented on #29
I want to work on that

[2019-10-04 19:32] adityachirania commented on #192
@csp98 you can take it up as well!

[2019-10-04 19:41] SaurabhAgarwala opened #228 "XOR Linked List Implementation"
### Description
Implement XOR linked list.

### Details
- Technical Specifications: Can use any of C/C++/Python/Java (PRs for different languages will be accepted. Claim the issue specifying the language with which you will work)
- Type of issue: Single
- Time Limit: ~24 hours after claiming the issue

### Issue requirements / progress
- [ ] Implement XOR Linked list which can be traversed both fo

[2019-10-04 19:46] SaurabhAgarwala opened #229 "Social OAuth"
### Description
Create a simple Social OAuth Login page and give an option of sign out such that signing out clears the cookies of browser.

### Details
- Technical Specifications: Can use any available Libraries/Frameworks for the task
- Type of issue: Single
- Time Limit: ~48 hours after claiming the issue

### Issue requirements / progress
- [ ] Create a Social OAuth Login Page. Give a button t

[2019-10-04 20:05] #22 closed

[2019-10-04 20:12] #47 closed

[2019-10-04 20:15] #28 closed

[2019-10-04 20:19] #37 closed

[2019-10-04 20:22] adityakaria commented on #228
I'd like to work on this in C++ please. Thanks!

[2019-10-04 20:25] SaurabhAgarwala commented on #228
Sure, go ahead. Please send your PR by 11:59 pm IST

[2019-10-04 20:33] #1 closed

[2019-10-04 20:50] SaurabhAgarwala commented on #1
**IMPORTANT**
Contributors, please note that the pull requests made for this issue will not be considered for Hacktoberfest 2019 as per [their guidelines on their core values](https://hacktoberfest.digitalocean.com/details). All the PRs made for this PR will be rendered invalid at a later stage. Please compensate for this PR by making another PR on a relevant issue.

[2019-10-04 21:18] kampaitees commented on #204
I'm solving it

[2019-10-05 00:05] entowan commented on #150
Hi, can I work on this issue?

[2019-10-05 00:26] i-m-vivek commented on #27
Added MLP Classifier #232 please review it.

[2019-10-05 01:50] bigblackclock commented on #166
i'll will do it in JS

[2019-10-05 01:52] ryan-rozario commented on #150
@entowan Yes Sure.

[2019-10-05 02:30] #152 closed

[2019-10-05 02:31] AnorexicAtticusFinch commented on #153
@IvanFleon you have a day left, have you made any progress?

[2019-10-05 04:25] SkaMessi10 opened #234 "Housing Prices Prediction using Regression"
### Description
This task is based on predicting the value of houses using the dataset given below. The information about each column of the dataset is also attached. Your task is to build regression model(linear or polynomial regression based on your discretion), to accurately predict the housing prices.
[housingdata.docx](https://github.com/WebClub-NITK/Hacktoberfest-2k19/files/3692859/housingda

[2019-10-05 06:10] deeptadevkota commented on #24
Can I work on this?

[2019-10-05 06:17] AnkitRai-22 commented on #143
I want to take up the issue

[2019-10-05 07:10] rak108 commented on #24
@adityachirania thanks!

[2019-10-05 07:51] shruthanr opened #236 "Build a KNN Classifier from scratch"
### Description
You are given some starter code. You are required to build on it in order to build a K-Nearest Neighbors classifier using only NumPy (and possibly other libraries for individual sub parts like calculating mode of a list, sorting a list etc). However you cannot use a ready made classifier of any sort from any library.

### Details
- Type of issue: Multiple
- Time Limit: 3 days
### I

[2019-10-05 08:49] apoorva-mk commented on #204
@kampaitees please submit your PR within two days of claiming it :D

[2019-10-05 09:38] KshitijMhatre opened #238 "TRIE datastructure Implementation"
### Description
Implement TRIE data-structure.

### Details
- Technical Specifications: Can use any of C/C++/Python/Java (PRs for different languages will be accepted. Claim the issue specifying the language with which you will work)
- Type of issue: Single
- Time Limit: ~24 hours after claiming the issue

### Issue requirements / progress
- [ ] Implement the TRIE data-structure in chosen language

[2019-10-05 09:38] AnorexicAtticusFinch opened #239 "GCD of 2 Numbers"
### Description
Find the GCD of any two given numbers (Take input from the user) efficiently.

### Details
- Technical Specifications: Any language
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] - Implement the given task.

### Resources
https://en.wikipedia.org/wiki/Euclidean_algorithm

### Directory Structure
Make sure a directory is created under the corres

[2019-10-05 09:41] KshitijMhatre commented on #238
I'd like to work on this in C .

[2019-10-05 09:43] AnorexicAtticusFinch opened #240 "BST Implementation"
### Description
Implement BST data structure with insert, delete, find and inorder printing functions.

### Details
- Technical Specifications: Any language
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] - Implement the find function
- [ ] - Implement the insert function
- [ ] - Implement the delete function
- [ ] - Implement the inorder traversal function

##

[2019-10-05 10:05] Himanshu307 commented on #24
I would like to work on this.

[2019-10-05 10:13] nandakishore323 commented on #239
Can i work on this please?

[2019-10-05 10:18] KshitijMhatre commented on #238
@SaurabhAgarwala ,@krithikvaidya please review the issue and provided PR for the same. Should I add any of the maintainers to the issue description ?

[2019-10-05 10:23] NegaMage commented on #48
I implemented a matrix exponent solution in O(n) time complexity and space complexity. PR #223
Please review, @shanthanu9

[2019-10-05 11:16] Himanshu307 commented on #24
Given a PR, kindly check #242

[2019-10-05 12:10] SakshatRao commented on #206
Hello there! You can go ahead and work on this issue. However, please submit the PR within two days...

[2019-10-05 12:55] HassanAlsamahi commented on #206
okay thanks

[2019-10-05 13:11] kampaitees commented on #204
Created the pull request, plz merge it.

[2019-10-05 13:18] Mksiyak commented on #240
i would like to work on it.

[2019-10-05 13:21] compiletimeterror commented on #204
ready to solve it

[2019-10-05 13:23] Himanshu307 commented on #29
I would like to work on it.

[2019-10-05 13:46] Himanshu307 commented on #29
@yogesh1905 Please review my PR.

[2019-10-05 14:19] 17aakashsingh1999 commented on #8
@dbarrerap great work!!
@SaurabhAgarwala please merge this PR.

[2019-10-05 15:08] yogesh1905 commented on #29
@SaurabhAgarwala you can merge the PR #227

[2019-10-05 15:14] yogesh1905 commented on #29
@predator4hack follow the directory structure as mentioned in the issue. You are supposed to make program inside algorithms/29 directory.

[2019-10-05 15:38] AdiY2j commented on #166
I will do it in GoLang

[2019-10-05 15:40] iron-bergh commented on #53
Hi! is the issue free now?

[2019-10-05 16:26] apoorva-mk commented on #204
This issue had already been claimed and PR had been sent so your PR will not be merged, unfortunately.

[2019-10-05 16:27] #204 closed

[2019-10-05 17:52] dbarrerap commented on #8
Thanks!

[2019-10-05 17:56] gaurivn commented on #240
I would want to work on this issue

[2019-10-05 18:05] NJnisarg commented on #8
Closing the Issue. Merged the referenced PR

[2019-10-05 18:05] #8 closed

[2019-10-05 18:53] abhinavpy commented on #143
@nandakishore323 and @AnkitRai-22 both of you can start working on it. Whoever makes a pull request with the right code will have their code merged.

[2019-10-05 18:54] abhinavpy commented on #49
@vishy-kothari-96 yes you can start working on it.

[2019-10-06 01:01] IvanFLeon commented on #153
Yes! I am already done. Under what directory and name should I add the file?

[2019-10-06 04:17] NegaMage commented on #239
I'd like to work on this too.

[2019-10-06 05:17] nirmalhk7 commented on #192
My code is ready, but I'm waiting for [this PR](https://github.com/WebClub-NITK/Hacktoberfest-2k19/pull/203) to be merged.

[2019-10-06 05:30] AdiY2j commented on #166
Please review it @krithikvaidya

[2019-10-06 07:43] KshitijMhatre commented on #229
I'd like to work on this. Thanks!

[2019-10-06 07:49] viveshCodes commented on #229
@KshitijMhatre Sure , go ahead. Please send a PR when relevant files a added.

[2019-10-06 08:30] Janmansh commented on #24
@adityachirania  Please review my PR.

[2019-10-06 08:31] Janmansh commented on #16
@gnarayang  Please review my PR.

[2019-10-06 09:04] akshettrj commented on #18
I would like to take up this problem.

[2019-10-06 09:05] akshettrj commented on #239
I want to work on this problem

[2019-10-06 09:12] pratyanshupandey commented on #24
May I start working on this issue?

[2019-10-06 09:22] geekswaroop commented on #18
@akshettrj Sure! Although @shrinidhi99 has already referenced this issue, I would advise you to send a PR which contains the file written in C++

[2019-10-06 09:34] AnkitRai-22 commented on #143
I made a PR. @abhinavpy

[2019-10-06 09:52] KshitijMhatre commented on #229
@viveshCodes The first reference link seems to be broken. Is it okay if I implement this using node-express ?

[2019-10-06 10:10] SakshatRao commented on #53
In case we do not receive any submission by **tonight 9 PM** from the previous participant, you can take up this issue...

[2019-10-06 10:24] Shuddhatm22 commented on #234
I want to take this issue

[2019-10-06 10:30] SkaMessi10 commented on #234
Go ahead and start working on it. I'm assigning this issue to you.

[2019-10-06 10:51] adityachirania commented on #24
@Himanshu307 @deeptadevkota @Janmansh
Im sorrry but rakshitha 's PR had already been accepted ! Im just waiting for  @harshnitk17  to merge the PR

[2019-10-06 10:54] #24 closed

[2019-10-06 11:24] shrinidhi99 commented on #18
Yes. I have already got my c files merged so I had closed the issue. The issue was resolved

[2019-10-06 11:26] viveshCodes commented on #229
@KshitijMhatre Absolutely okay. Go ahead with node-express.

[2019-10-06 15:00] AnorexicAtticusFinch commented on #153
Save it using the issue number under the 'systems' folder. Follow the instructions mentioned in the guidelines.

[2019-10-06 15:14] dbarrerap commented on #16
I submitted my solution. Please review.

cc @gnarayang

[2019-10-06 16:15] vishy-kothari-96 commented on #49
@abhinavpy I've made a PR. Please review.

[2019-10-06 18:38] Kuljeet-123 commented on #239
I would like to work on it.

[2019-10-06 18:58] arpi-r commented on #11
@Mksiyak Could you please create a PR with your changes?

[2019-10-06 19:33] codebreaker-00 commented on #48
I want to submit a PR. Please review

[2019-10-06 21:25] jaywantpatel commented on #239
I would like to work on this

[2019-10-07 05:15] vishy-kothari-96 commented on #20
@ArqumShaikh Since no one has made a PR for this issue, can i work on this?

[2019-10-07 06:00] abhinavpy commented on #49
@vishy-kothari-96 has submitted a solution. Issue is will be closed.

[2019-10-07 06:17] #49 closed

[2019-10-07 07:14] KshitijMhatre commented on #229
@viveshCodes implemented OAuth using `gapi`. Wanted to do it using `passport.js` but didn't get time. Hope this one is helpful.

[2019-10-07 08:54] codebeast01 commented on #143
I wanna take up the issue #143

[2019-10-07 09:12] viveshCodes commented on #229
@KshitijMhatre It works well .
 @SaurabhAgarwala  @NJnisarg It seems good to me . PR can be merged.

[2019-10-07 09:25] aksh555 opened #260 "Convert Python code to C/C++ code"
### Description
You are given the code for a task in Python. Your goal is to convert this to C/C++, which performs the same task.

### Details
- Technical Specifications:
- Type of issue: Single
- Time Limit: 1 day

### Issue requirements / progress
- [ ] Implement the given task

### Resources
https://www.geeksforgeeks.org/stdstring-class-in-c/

### Directory Structure
Create a folder called 'pyt

[2019-10-07 12:06] him1anshu commented on #260
You will give a specific task or code in python to convert it into c/c++ program?@aksh555

[2019-10-07 12:20] aksh555 commented on #260
Yes, it will be added soon.

[2019-10-07 12:24] him1anshu commented on #260
Then I will like to work on this issue. Please assign it to me.  @aksh555

[2019-10-07 13:44] Shuddhatm22 commented on #42
@vishy-kothari-96 I already made a pull request 3 days ago, but they have not reviewed it yet.

[2019-10-07 23:49] XDBGAMES commented on #166
I will do it in Ruby

[2019-10-08 01:16] XDBGAMES commented on #166
I will do it in Ruby

[2019-10-08 05:26] AnorexicAtticusFinch commented on #153
You haven't opened an OpenGL context, you have only opened a window using GLFW. You need to use the gladLoadGLLoader function (in the glad.c file, which you also need to include) to load the OpenGL processes during runtime. You also need to use the glViewport function for properly resizing the window, without it the window would be resized but the OpenGL render target would not be made aware of th

[2019-10-08 05:30] SakshatRao commented on #206
Since the two day deadline was not met, this issue is open again.

[2019-10-08 08:54] Kuljeet-123 commented on #17
I would like to work on it @ArqumShaikh

[2019-10-08 09:22] Kuljeet-123 commented on #17
@ArqumShaikh  please review my PR and merge into your repo and my PR id is #266.

[2019-10-08 10:20] #191 closed

[2019-10-08 10:28] SaurabhAgarwala commented on #238
@KshitijMhatre We won't be entertaining cases where the issue and the PR both are by the same person. Request you to close both issue and the PR or just this PR and mentor the issue created by you. You are free to make PRs for any of the issues not created by you.

[2019-10-08 10:30] #229 closed

[2019-10-08 10:33] #193 closed

[2019-10-08 10:42] KshitijMhatre commented on #238
@SaurabhAgarwala sure no problem. Closing the PR.

[2019-10-08 12:38] HassanAlsamahi commented on #206
@SakshatRao  I sent a pull request yesterday (7 oct)

[2019-10-08 14:09] SaurabhAgarwala commented on #33
Closing this as PR #39 resolves it

[2019-10-08 14:09] #33 closed

[2019-10-08 17:38] divas18 commented on #260
I will upload it as soon as possible

[2019-10-08 19:27] brendanAlbert commented on #14
If I can, I would like to try and tackle this one :)

[2019-10-08 19:47] mananpoddar commented on #14
@brendanAlbert please go ahead.

[2019-10-08 20:00] aasthac67 commented on #207
Can you please review the code

[2019-10-08 20:10] #151 closed

[2019-10-08 20:19] SaurabhAgarwala commented on #260
@him1anshu Relevant files have been added. You can start working on it

[2019-10-08 20:31] him1anshu commented on #260
Ok.Thanks@SaurabhAgarwala

[2019-10-08 20:33] SaurabhAgarwala commented on #143
@AnkitRai-22

Please specify the PR number so that it's easy to review

[2019-10-08 22:11] kampaitees commented on #21
@mananpoddar It is already merged to the repo but it is not showing here why?

[2019-10-08 22:13] kampaitees commented on #21
@mananpoddar Here is link for  merged folder
https://github.com/WebClub-NITK/Hacktoberfest-2k19/tree/master/machineLearning/Visualisation

[2019-10-09 02:37] IvanFLeon commented on #153
I've added the missing features. Let me know if there is anything that needs to be changed or added.

[2019-10-09 03:45] AnorexicAtticusFinch commented on #153
It's right, nothing else to be done!
@SaurabhAgarwala this can be merged

[2019-10-09 04:16] #153 closed

[2019-10-09 04:16] SaurabhAgarwala commented on #153
#256 closes this

[2019-10-09 07:06] SakshatRao commented on #206
@HassanAlsamahi I'm sorry about not realizing you had sent a pull request. Also, the pull request was supposed to properly reference this issue. Anyways, that's not a problem. The code works great. Thank you for your participation. I'll request your PR to be merged. This issue is closed.

[2019-10-09 13:03] ansen16 commented on #207
Could you run it for a sample input and show the output?

[2019-10-09 14:53] aasthac67 commented on #207
@ansen16 The attached file has a Dijkstras.png which contains the screenshot of the input and the output.

[2019-10-09 14:56] aasthac67 commented on #207
![Dijkstras](https://user-images.githubusercontent.com/38806427/66493063-13e56f80-eabe-11e9-8099-45a7ac74db9f.png)

[2019-10-09 15:01] aasthac67 commented on #207
![Dijkstras](https://user-images.githubusercontent.com/38806427/66493383-a259f100-eabe-11e9-9f64-53895d162a4e.png)

@ansen16 This is the sample input and output.

[2019-10-09 15:11] shashikanthgk commented on #236
I am taking up this issue

[2019-10-09 15:46] #206 closed

[2019-10-09 15:47] #48 closed

[2019-10-09 15:52] #16 closed

[2019-10-09 16:27] AnorexicAtticusFinch opened #271 "Searching for Cycles in a Directed Graph"
### Description
Write a program that makes a directed graph using user input and prints True if a cycle exists and False otherwise.

### Details
- Technical Specifications: C/C++
- Type of issue: Single
- Time Limit: 2 days

### Issue requirements / progress
- [ ] Taking input and making the Graph
- [ ] Searching for a Cycle

### Directory Structure
Make sure a directory is created under the corre

[2019-10-09 16:30] AnorexicAtticusFinch opened #272 "Implement Tries"
### Description
Implement the Tries Data Structure: Insert, Delete and Search.

### Details
- Technical Specifications: C/C++
- Type of issue: Single
- Time Limit: 2 Days

### Issue requirements / progress
- [ ] Search
- [ ] Insert
- [ ] Delete

### Directory Structure
Make sure a directory is created under the corresponding domain folder properly following the collaborator guidelines and mention

[2019-10-09 16:30] #239 closed

[2019-10-09 16:31] #240 closed

[2019-10-09 17:42] #42 closed

[2019-10-09 18:16] gaurivn commented on #271
I would like to take up this issue and work on it.

[2019-10-09 18:19] gaurivn commented on #228
I would like to work on this issue in C.

[2019-10-09 18:55] shashikanthgk commented on #27
I am taking up random forest classifier

[2019-10-09 19:36] SaurabhAgarwala commented on #166
@krithikvaidya Can this issue be closed now? Or are you expecting more PRs?

[2019-10-09 19:41] SaurabhAgarwala commented on #228
@gaurivn Sure go ahead

[2019-10-09 20:13] bilalbutt044 commented on #36
is this still open?

[2019-10-09 23:15] #150 closed

[2019-10-10 02:51] krithikvaidya commented on #166
@SaurabhAgarwala Okay, close it now...

[2019-10-10 02:58] harshsri2208 opened #275 "Add heapsort implementation"
In the directory algorithms/sort there are other sorting algorithms but we do not have implementation of heap sort.

[2019-10-10 03:29] Chans321 commented on #36
Yeah. Create a pr once done.

[2019-10-10 05:43] nandakishore323 commented on #275
I want to take this issue

[2019-10-10 05:59] namanmanish opened #276 "Improve Survey web app"
### Description
Task 1:
This web application conducts a survey.The survey has few basic questions like state,city etc.
This is developed in django. Here for the questions I have created a dropdown. This dropdown is hardcoded that is in the models.py file the key and the attribute is matched instead of reading from the database.You have to change it in such a way that you can directly read from the

[2019-10-10 06:06] bhanutejabt opened #277 "Regression algorithms on gender voice,insurance datasets."
### Description
Implement the regression algorithms on the data sets to produce the classification metrics as an output.

### Details
- Technical Specifications:
  - Require the concept of Linear,Logistic,Naive Bayes Regression methods
  - Python packages like pandas,sklearn etc.
- Type of issue: [Single]

### Issue requirements / progress
- [ ] Get the classification metrics like confusion matrix

[2019-10-10 06:14] bhanutejabt commented on #277
https://github.com/WebClub-NITK/Hacktoberfest-2k19/pull/253 PR
this resolves the issue that

[2019-10-10 06:16] harshsri2208 commented on #275
I have already created a pull request for this issue

On Thu, 10 Oct 2019, 11:13 am nandakishore323, <notifications@github.com>
wrote:

[2019-10-10 07:02] ansen16 commented on #207
The output of the 2nd and 3rd sample inputs are wrong. From 0 to 5, the optimal path is 0->7->6->5. (total weight 11). The path in the answer has a total weight of 16.
Similarly from 0 to 6, 0->7->6 is the best. (total weight 9). While the path in the answer has a total weight of  18.
Your code outputs a longer path (in both cases) with is incorrect according to Dijkstra's algorithm.
Please check

[2019-10-10 07:52] NegaMage commented on #272
I'd like to take this up in C++. Also how would the delete function work, would it be only for leaf nodes?

[2019-10-10 12:54] NegaMage commented on #272
Implemented in c++ with example code, in PR #279
Requesting review, @AnorexicAtticusFinch

[2019-10-10 13:18] vrn25 commented on #27
@shashikanthgk, Go ahead

[2019-10-10 14:12] AnorexicAtticusFinch commented on #272
@SaurabhAgarwala This can be merged.

[2019-10-10 15:33] mnityesh28 commented on #29
I want to work on this @yogesh1905

[2019-10-10 15:46] adityachirania commented on #192
@nirmalhk7 The code has a few bugs
try encrypting "zack and cody" with key 1 and your encrypted string is giving me "{bdl boe dpez"
but "{" is not a part of the casesar scrpt! secondly even if try to decrypt this "{bdl boe dpez" back with key 1 it doesnt give me back "zack and cody". Please resolve the bugs in your program!

[2019-10-10 19:22] gaurivn commented on #20
I would like to work on this issue.

[2019-10-10 19:38] #166 closed

[2019-10-10 19:41] #272 closed

[2019-10-10 19:45] #212 closed

[2019-10-10 19:45] #63 closed

[2019-10-11 04:36] gaurivn commented on #228
@SaurabhAgarwala I submitted my pull request yesterday within the time limit allotted to me, kindly review it.

[2019-10-11 08:26] kampaitees commented on #277
I'm doing this

[2019-10-11 08:33] bhanutejabt commented on #277
@kampaitees Actually i have done this in this PR https://github.com/WebClub-NITK/Hacktoberfest-2k19/pull/253

If you could do that is different from that PR you can start on this issue.

[2019-10-11 08:46] ArqumShaikh commented on #17
@Mksiyak I am assigning this issue to you. Try to get it done before the deadline.

[2019-10-11 13:30] shivam-131 commented on #31
Is this issue free now? I'm interested.

[2019-10-12 02:52] vishy-kothari-96 commented on #20
@ArqumShaikh Okay I'm working on it!

[2019-10-12 06:16] amukh18 opened #284 "Machine learning algorithms and data visualisation for credit cards default prediction"
### Description

Your task is to predict the probability that a credit card owner will default based on his/her characteristics and payment history. This is a **classification** problem.

The dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients).

The features convey the following information:
	**X1**: Amount of the given credit (New Taiwan dollar): it

[2019-10-12 12:15] SakshatRao opened #285 "Implementing Singular Value Decomposition from scratch"
### Description
Implement SVD from scratch (i.e. without using direct functions like numpy.linalg.svd) to visualize the famous 'king-boy+girl=queen' equation.

The 50-dimensional word embeddings of 'king', 'queen', 'boy' and 'girl' will be available in machineLearning/__ directory. Implement SVD from scratch, which should be applicable for all shapes of matrices. Use SVD to reduce the dimensionali

[2019-10-12 18:39] gaurivn commented on #29
I would like to work on this issue.

[2019-10-12 20:09] #234 closed

[2019-10-12 20:31] SaurabhAgarwala commented on #29
@yogesh1905 Please look into this issue

[2019-10-13 09:24] gaurivn commented on #275
I would like to work on this in Java.

[2019-10-13 12:00] harshsri2208 commented on #275
@gaurivn all the programs in the directory are in C. I'm not sure if you can write programs in Java.

[2019-10-15 20:35] MerlijnVH commented on #53
I haven't seen any activity in a while, can I take a look?

[2019-10-16 11:57] amukh18 opened #291 "Machine learning algorithms and data visualisation for airfoil sound pressure level prediction"
### Description

Your task is to predict the scaled sound pressure level(dB) from aerodynamic and acoustic tests of two and three-dimensional airfoil blade section conducted in an anechoic wind tunnel.
This is a **regression** problem.
An airfoil is a shaped surface such as an airplane wind, tail, or propeller blade that produces lift and drag when moved through the air.
An anechoic wind tunnel is

[2019-10-17 09:49] Shahbaz90 commented on #29
I want to work on this topic

[2019-10-17 13:45] abhinavjain20 commented on #192
I would like to do it with C++

[2019-10-17 15:29] adityachirania commented on #192
Yes you may take it up

On Oct 17, 2019 19:15, "Abhinav Jain" <notifications@github.com> wrote:

[2019-10-17 17:36] abhinavjain20 commented on #18
I would love to do this problem

[2019-10-17 19:55] abhinavjain20 commented on #11
I would work on it

[2019-10-17 21:04] abhinavjain20 commented on #207
I would like to work on this issue.

[2019-10-18 02:00] arpi-r commented on #11
@abhinavjain20 sure, you can work on this!

[2019-10-18 10:43] bpbrum commented on #192
Hey! I would like to do this in Python.

[2019-10-18 18:39] ansen16 commented on #207
sure go ahead

[2019-10-19 10:42] thekazi commented on #36
Can I work on this one?

[2019-10-20 14:39] harshsri2208 commented on #275
my pull request was merged. I am closing this issue

[2019-10-20 14:39] #275 closed

[2019-10-22 04:26] brendanAlbert commented on #14
Hi @mananpoddar, I finally implemented this features functionality!  Please let me know if you have any questions or comments.  Thank you! :)

[2019-10-26 09:38] gaurivn commented on #207
I would like to work on this issue.

[2019-10-29 01:59] ArquiteturaJoel commented on #29
I want to work on this topic too

[2019-10-29 07:19] ArquiteturaJoel commented on #29
@yogesh1905  please, review my PR for this issue #29
My PR
add expression in python #304

[2019-10-29 22:16] ArquiteturaJoel commented on #18
I would like to take up this problem.

[2019-10-29 22:19] ArquiteturaJoel commented on #192
I would like to take up this problem Python or if possible java too.

[2019-10-29 22:34] ArquiteturaJoel commented on #31
I would like to work on it

[2019-10-29 22:36] ArquiteturaJoel commented on #36
I would like to work on it

[2019-10-29 22:38] ArquiteturaJoel commented on #7
I would like to work on it

[2019-10-30 02:09] ArquiteturaJoel commented on #238
I would like to take up this problem

[2019-10-30 02:12] ArquiteturaJoel commented on #27
I would like to take up this problem -  Logistic Regression

[2019-10-30 05:41] KshitijMhatre commented on #238
@ArquiteturaJoel sure go ahead.

[2019-10-31 09:35] #238 closed

[2019-10-31 09:37] #284 closed

[2019-10-31 09:37] #291 closed

[2019-10-31 09:38] #7 closed

[2019-10-31 09:39] #207 closed

[2019-10-31 13:01] vrn25 commented on #27
@ArquiteturaJoel, Go ahead

[2019-11-02 19:21] SaurabhAgarwala commented on #277
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:21] #277 closed

[2019-11-02 19:21] SaurabhAgarwala commented on #276
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:21] #276 closed

[2019-11-02 19:21] SaurabhAgarwala commented on #271
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:21] #271 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #260
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #260 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #236
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #236 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #192
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #192 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #73
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #73 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #228
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #228 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #143
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #143 closed

[2019-11-02 19:22] SaurabhAgarwala commented on #92
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:22] #92 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #89
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #89 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #87
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #87 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #59
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #59 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #46
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #46 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #53
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #53 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #40
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #40 closed

[2019-11-02 19:23] SaurabhAgarwala commented on #38
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:23] #38 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #36
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #36 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #31
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #31 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #29
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #29 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #27
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #27 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #25
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #25 closed

[2019-11-02 19:24] SaurabhAgarwala commented on #18
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:24] #18 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #21
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #21 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #20
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #20 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #19
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #19 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #17
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #17 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #15
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #15 closed

[2019-11-02 19:25] SaurabhAgarwala commented on #14
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:25] #14 closed

[2019-11-02 19:26] SaurabhAgarwala commented on #11
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:26] #11 closed

[2019-11-02 19:26] SaurabhAgarwala commented on #9
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:26] #9 closed

[2019-11-02 19:26] SaurabhAgarwala commented on #3
Hacktoberfest 2019 ends. Closing the issue.

[2019-11-02 19:26] #3 closed